div#header
  h1#title
    | LaTeX Online
  sup#slogan you give it a link, it gives you PDF

div#form
  form(action="/compile", method="get")
    label(for="url-field") URL of TeX document
    input(type="url", name="url", id="url-field", size="100")
    input(type="submit")

p#hint.
  Dunno <b>what's this</b>? Try to submit the link:
  <code id="hint-link">https://raw.github.com/aslushnikov/latex-online/master/sample/sample.tex</code>

#middle
  #left
    h2 What is going to happen
    p.
      When you enter url and click "submit" button, the following sequence of
      events happens server-side
    ol
      li The file is fetched and saved with <code>.tex</code> extension
      li Hash sum of the file is counted
      li.
        If we have the compiled pdf for the hash sum in our cash, then we
        return cached PDF
      li.
        Otherwise we compile the file using <code>pdflatex</code>, store the
        result in cash and return it


    h2 Capabilites
    ol
      li.
        Build a file by a link
        <a
        href="https://github.com/aslushnikov/latex-online#compile-url">Tell
        me more</a>
      li.
        Build a public <strong>git repo</strong>
        <a
        href="https://github.com/aslushnikov/latex-online#compile-git-repo">Tell
        me more</a>
      li.
        Build your any <strong>local</strong> tex files
        <a
        href="https://github.com/aslushnikov/latex-online#ccommand-line-interface">Tell
        me more</a>

    h2 Documentation
    p.
      See documentation
      <a href="https://github.com/aslushnikov/latex-online#readme">here</a>

  #right
    h2 Examples
    ol
      li.
        See how is it used to create "See Latest" link in my
        <a href="https://github.com/aslushnikov/diplom-latex#readme">diploma</a>
      li
        | Click <a href="/compile?url=https%3A%2F%2Fraw.github.com%2Faslushnikov%2Flatex-online%2Fmaster%2Fsample%2Fsample.tex">here</a>
        | to compile this <a href="https://github.com/aslushnikov/latex-online/blob/master/sample/sample.tex"> source</a>
        | code.

    h2 Command-line interface
    p.
      Check a <a href="https://github.com/aslushnikov/latex-online#command-line-interface">laton</a> to compile local documents
      with command-line.
    p.
      Lack a feature? Here's the
      <a href="https://github.com/aslushnikov/latex-online">source code</a>,
      feel free to implement it and send <code>pull request</code>

    h2 Contacts

    p.
      All ways to contact me could be found on my website: <a href="http://aslushnikov.com">aslushnikov.com</a>.
    p.
      If you like the service and deployed it somewhere, please let me know so that I would be able to setup a "who use this" page.



#bottom
  .facebook-like
    | <div class="fb-like" data-href="http://latex.aslushnikov.com" data-send="true" data-width="450" data-show-faces="true"></div>
  .paypal-donation
    | <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    | <input type="hidden" name="cmd" value="_s-xclick">
    | <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHTwYJKoZIhvcNAQcEoIIHQDCCBzwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBX6RdwX0m0au+y7CUQnyId2UOVSmG47/6Y+KONlIvlO5MXF6dbpEkLP7XFKoHichyouNespW71C9u7lZj8NbSGXJDy145lcLyEQRln9BgI49U8SdNKhUAd5QUYBHOJLk2HYuPtxK8MiyewQMVEo+QOLTk+y6maKsTS1c+0TXiySjELMAkGBSsOAwIaBQAwgcwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIe/pJg9ALRUOAgajH8RM4rNQao+7V0yTrsJK+46FV5u0VpiRoSQi1UixSX4yAAXY5ps8H82XhQyI5ZfYEDwa55TCXvgNuw3e7ZwqmPQQ70qTSApujyFu6TfwYH5etr6m6rT5u04RY1StG7Wb6ez/RNT9vUm/+YJwgs7dX6SSYNiUi9ZAt+yzN/LtK+r3JqzbiaP1dE2030KH8I2g6hbHUlgHYiYSw5VnrOgo/gi9XO7D+apSgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNDAzMzAxNjA1MDRaMCMGCSqGSIb3DQEJBDEWBBTz7pnQtHUT0NuYDYDKU7Acw2qoJjANBgkqhkiG9w0BAQEFAASBgGWQDznCjTGy3KmlN9zWaziOfhgJgVMnDlHn1hVJF17Ofif++Klh6+r05AeLIJAN4NseaUD5EfwJiBhhrF+AZb2V8Fm4LSfLSAtIg6Qqx3qYJ+BTmIxya/TazKiE9s6FB3/yDZjbj1E7ku0JOfNNWRQM3/j2UeGzqnZOmt5BYqQa-----END PKCS7-----"> <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"> </form>

#version
  a(href="http://github.com/aslushnikov/latex-online/commit/#{version}") SHA: #{version}
